<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="My homepage" rel="seba" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    
      <div class="wrapper">
      <a href="http://www.physics.iisc.ernet.in/" target="_blank"><img src="imageN/iisc-logo.png" width=100></a>
      </div>
        
  </div>
</header>
